<html>
  <body class="jumbotron">
    <div id="main-container" class="container-fluid">
      <div class="row">
        <div id="content" class="col-md-4"></div>
        <div id="content" class="col-md-4">
          <div class="entry_forms">
            <center>
              <div style="margin-bottom: 10px;">
                <div id="logo2" style="background-image: url('<%= image_path('logo.png') %>');"></div>
              </div>
              <h6 class="h6-size" style="margin-bottom: 25px;"> Where friends & food come together.</h6>
            </center>
            <% if flash[:errors] %>
                <ul>
                  <% flash[:errors].each do |e|%>
                  <li style="color:red"><%= e %></li>
                </ul>
                  <% end %>
            <% end %>

            <%= form_tag sessions_path do  %>
              <div class="form-group">
                <%= label_tag :username %>
                <%= text_field_tag :username, "", class: "form-control" %>
              </div>
              <div class="form-group">
                <%= label_tag :password %>
                <%= password_field_tag :password, "", class: "form-control" %>
              </div>
              <center>
                <%= submit_tag "Login", :class => "btn btn-default" %>
              </center>
            <% end %>
          </div>
          </div>
        <div id="sign-in-col" class="col-md-4" style="text-align: right; padding-top:20px; padding-right: 25px;">
          <%= link_to "Create an Account", sign_up_path, class: "btn btn-default" %>
        </div>
      </div>
    </div>
  </body>
</html>
