<% puts "post to #{post_url}" %>

<%= form_for @recipe, url: post_url do |f| %>
  <div class="row">
    <div id="content" class="col-sm-3">
    </div>
    <div id="content" class="col-md-6">
      <h4 class="h4-text">Add a Recipe</h4>
      
      <% if @recipe.errors.any? %>
        <% @recipe.errors.full_messages.each do |msg| %>
          <p><%= msg %></p>
        <% end %>
      <% end %>

      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control"%><br>
      </div>
      <div class="form-group">
        <%= f.label :details %>
        <%= f.text_field :details, class: "form-control"%><br>
      </div>
      <%= f.label :ingredients %>
      <div class="dropdown">
        <div id=myDropdown class="dropdown-content">
          <input type="text" placeholder="Search..." id="myInput" onkeyup="filterFunction()" class="form-control">
          <div class="checkbox-dropdown">
            <ul>
              <%= f.collection_check_boxes :ingredient_ids, @ingredients.order('name ASC'), :id, :name do |b| %>
                <li>
                  <%= b.check_box %> <%= b.label %>
                </li>
              <% end %>
            </ul>

          </div>
        </div>
      </div>
      <center>
        <%= f.submit class: "btn btn-default">
      </center>
    </div>
    <div id="content" class="col-md-3">
    </div>
  </div>
<% end %>

<script>
  function filterFunction() {
    var input, filter, ul, li, a, i;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    div = document.getElementById("myDropdown");
    a = div.getElementsByTagName("li");
    for (i = 0; i < a.length; i++) {
        if (a[i].innerHTML.toUpperCase().indexOf(filter) > -1) {
            a[i].style.display = "";
        } else {
            a[i].style.display = "none";
        }
    }
  }
</script>
