<div class="row">
  <div class="col-md-2"></div>
  <div class="col-sm-4">

    <h2><%= @recipe.name %> <span class="event_small"><span class="slashes">&nbsp;&nbsp;//</span> <%= link_to "edit recipe", edit_recipe_path(@recipe) %></span></h2>
  <br><br><br>

    <strong>Details:</strong>
    <p><%= @recipe.details %></p>
  </div>
  <div class="col-sm-4">
    <div id="attendees" class=".collapse">
    <h4>Ingredients (<%= @recipe.ingredients.size %>)</h4>
    <ul>
      <div class="divider2"></div>
        <% @recipe.ingredients.each do |i| %>
          <li><%= i.name %></li>
        <% end %>
      </ul>
    </div> <!-- end #ingredients -->
    <br><br>

  </div> <!-- col-sm-4 end -->
  <div class="col-md-2"></div>
</div> <!-- div "row" end -->

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <br><br>
    <center>
      <% if current_user == @recipe.user %>
        <%= link_to "Edit", edit_recipe_path, :class => "btn btn-default" %>
        <%= link_to "Delete", recipe_path, :method => "DELETE", :class => "btn btn-default" %>
      <% end %>

    </center>
  </div> <!-- col-md-4 end -->
  <div class="col-md-4"></div>
</div> <!-- div "row" end -->
