<h1><%= @recipe.name %></h1>

<p><%= @recipe.details %></p>

<p>Ingredients:</p>

<% @recipe.ingredients.each do |i| %>
  <p><%=link_to i.name, i %></p>
<% end %>

<%= link_to "Edit", edit_recipe_path %><br><br>

<%= link_to "Back", root_path %>