<h1><%= @recipe.name %></h1>

<h2><%= @recipe.details %></h2>

<p><b>Ingredients:</b></p>

<ul>
  <% @recipe.ingredients.each do |i| %>
    <li><%=link_to i.name, i %></li>
  <% end %>
</ul>

<p>
  <% if current_user == @recipe.user %>
    <%= link_to "Edit", edit_recipe_path, :class => "btn btn-default" %>
  <% end %>

  <%= link_to "Back", root_path, :class => "btn btn-default" %>
</p>
