<div id="main-container" class="container-fluid">
  <div id="content" class="col-md-2">
  </div>
  <div id="content" class="col-md-8">

<% if session[:user_id] == @user.id %>
  <h3>Edit Profile</h3>

  <%= form_for @user do |u| %>
    <%= u.label :name %>
    <%= u.text_field :name, class: "form-control"%>
    <%= u.label :username %>
    <%= u.text_field :username, class: "form-control"%>
    <%= u.submit class: "btn btn-default", id: "warning-btn" %>
    <div style= "padding-top: 10px">
    </div>
  <% end %>
  <%= link_to "Delete", user_path, :method => "DELETE", :class => "btn btn-default" %>
<% else %>
  <h3 style="text-align: center">You don't have sufficient permissions to edit this user.</h3><%= link_to "Back to Home", user_path(session[:user_id]), :class => "btn btn-block"%>
</div>
<% end %>
<div id="content" class="col-md-2">
</div>
