<p id="notice"><%= notice %></p>

<div id="main-container" class="container">
  <div class="row">
    <div id="content" class="col-xs-9">
<h1>
  <strong>Name:</strong>
  <%= @user.name %>
</h1>

<h4>
  <strong>Username:</strong>
  <%= @user.username %>
</h4>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
</div>
</div>
</div>
