<% if flash[:errors] %>
    <ul>
        <% flash[:errors].each do |error| %>
            <li>
                <%= error %>.
            </li>
        <% end %>
    </ul>
<% end %>

<%= form_for @ingredient do |t| %>
    <%= t.label :name %>:
    <%= t.text_field :name, class:"form-control" %><br><br>
    <%= t.submit class: "btn btn-default", id: "success-btn"%>
<% end %>
