
<%= form_for @event do |e| %>
  <div class="row">
    <div id="content" class="col-sm-3">
    </div>
    <div id="content" class="col-md-6">
      <ul>
        <% if flash[:error] %>
          <% flash[:error].each do |error| %>
            <li><%= error %></li>
          <% end %>
        <% end %>
      </ul>
      <div class="form-group">
        <%= e.label :title %>
        <%= e.text_field :title, class: "form-control" %> <br>
      </div>
      <div class="form-group">
        <%= e.label :location %>
        <%= e.text_field :location, class: "form-control" %> <br>
      </div>
      <div class="form-group">
        <%= e.label :date %>
        <%= e.datetime_select :date, class: "form-control", ampm: true, start_year: Date.today.year, use_short_month: true, date_separator: "/", order: [:day,:month,:year], prompt: { day: 'Day', month: 'Month', year: 'Year' } %> <br>
      </div>
      <div>
        <%= e.label :details %>
        <%= e.text_area :details, class: "form-control", size: "20x5" %> <br>
      </div>
      <div>
        <%= e.collection_check_boxes :recipe_ids, @recipes, :id, :name %> <br>
      </div>
      <div>
        <%= e.submit class: "btn btn-default", id:"success-btn" %>
      </div>
      <div id="content" class="col-md-3">
      </div>
    </div>
  </div>
<% end %>
