<%= flash[:notice] %>

<h2>Events</h1>
  <% @events.each do |event_obj| %>
    <div class="row">
      <div class="col-lg-1">
        <strong><%= link_to event_obj.title, event_path(event_obj)%></strong>
      </div>
      <div class="col-lg-1">
        <%= event_obj.location %>
      </div>
      <div class="col-lg-1">
        <%= event_obj.date %>
      </div>
      <div class="col-lg-1">
        <% if User.find(session[:user_id]).events.include?(event_obj) %>
            ✔️
        <% end %>
      </div>
      <div class="col-lg-1">
        <%= link_to "Edit Event", edit_event_path(event_obj), class: "btn btn-default", id: "warning-btn"%>
      </div>
      <div class="col-lg-1">
        <%= form_tag(event_obj, method: "delete") do %>
          <%= submit_tag "Delete Event", class: "btn btn-default", id: "danger-btn" %>
        <% end %>
      </div>
    </div>
  <% end %>
