<h1><%= @event.title %> </h1><br>

<h3>Location:</h3>
<%= @event.location %>

<h3>Date:</h3>
<%= @event.date.to_formatted_s(:long_ordinal) %>
<h3>Details:</h3>
<%= @event.details %>


<% if !@user.events.include?(@event) %>
  <%= form_tag({controller: "events", method: "post", action: "join_event"}) do %>
    <%= submit_tag "Join Event"%>
  <% end %>
<% end %>

<% if @user.events.include?(@event) %>
  <%= form_tag({controller: "events", method: "post", action: "leave_event"}) do %>
    <%= submit_tag "Leave Event"%>
  <% end %>
<% end %>
