
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-sm-4">

    <h3><%= @event.title %> <span class="event_small"><span class="slashes">//</span> <%= link_to "edit event", edit_event_path(@event) %></span></h3>
    Date: <%= @event.date.to_formatted_s(:long_ordinal) %><br>
    Location: <%= @event.location %><br><br>

    <strong>Details:</strong>
    <p><%= @event.details %></p>
  </div>
  <div class="col-sm-4">

    <div id="attendees" class=".collapse">
      <h4>Attendees (<%= @event.users.size %>)</h4>
      <% if @event.users.size > 0 %>
      <ul>
        <% @event.users.each do |user| %>
          <li>
            <% if user.id == current_user.id %>
              You!
            <% else %>
              <%= user.name %>
            <% end %>
          </li>
        <% end %>
      </ul>
      <% end %>
      <a href="#recipe_form">close attendees</a>
    </div>
    
    <div id="recipe_form" class=".collapse">
      <a href="#attendees"> close me </a>

      <%= form_for @eventrecipe, url: events_path do |t| %>
        <%= t.hidden_field :event_id, value: @event.id %>
        <%= t.label :recipe_id %>: 
        <%= t.collection_check_boxes :recipe_id, @user.recipes, :id, :name %><br><br>
        <%= t.submit "Add dish to Event" %>
      <% end %>

    </div>

  </div> <!-- col-sm-4 end -->
  <div class="col-md-2"></div>
</div> <!-- div "row" end -->

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <br><br>
    <center>
      <% if !@user.events.include?(@event) %>
        <%= form_tag({controller: "events", method: "post", action: "join_event"}) do %>
          <%= submit_tag "Join Event", class: "btn btn-default", id: "success-btn"%>
        <% end %>
      <% end %>

      <% if @user.events.include?(@event) %>
        <%= form_tag({controller: "events", method: "post", action: "leave_event"}) do %>
          <%= submit_tag "Leave Event", class: "btn btn-default", id: "warning-btn"%>
        <% end %>
      <% end %>
    </center>
  </div> <!-- col-md-4 end -->
  <div class="col-md-4"></div>
</div> <!-- div "row" end -->
