
<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-md-4">
    <h3><%= @event.title %> </h3>
    Date: <%= @event.date.to_formatted_s(:long_ordinal) %><br>
    Location: <%= @event.location %><br><br>

    <strong>Details:</strong>
    <p><%= @event.details %></p>

    <% if !@user.events.include?(@event) %>
      <%= form_tag({controller: "events", method: "post", action: "join_event"}) do %>
        <%= submit_tag "Join Event"%>
      <% end %>
    <% end %>

    <% if @user.events.include?(@event) %>
      <%= form_tag({controller: "events", method: "post", action: "leave_event"}) do %>
        <%= submit_tag "Leave Event"%>
      <% end %>
    <% end %>

    <br><br><br>

    <%= link_to "Home", root_path %>
  </div>
  <div class="col-md-4">
    Another 4-column
  </div>
  <div class="col-md-1"></div>
</div>