<!DOCTYPE html>
<html>
  <head>
    <title>Potluck</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700" rel="stylesheet">
    <link rel="stylesheet" media="all" href="/assets/custom.css" >
  </head>

  <body>
    <% if logged_in %>
      <div class="container-fluid">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <div id="navbar">
            <div ><%= link_to (image_tag("logo.png", :alt => "Logo- press to go home", size: "125x25")), root_path %></div>
            <div id="welcome_holder">
              Welcome, <%= @nav_user.name %> <span class="slashes">//</span> <%= link_to "Logout", log_out_path, :method => "POST" %>
            </div>
            <div class="divider"></div>
            <!-- <%= link_to "Home", user_path(current_user), :class => "nav-item nav-link" %> <span class="slashes">//</span> -->
            <%= link_to "Add a Recipe", new_recipe_path, :class => "nav-item nav-link" %> <span class="slashes">//</span>
            <%= link_to "Create a new Potluck", new_event_path, :class => "nav-item nav-link" %> <span class="slashes">//</span>
            <%= link_to "Explore Potlucks", events_path, :class => "nav-item nav-link" %> <span class="slashes">//</span>
            <%= link_to "Add a New Ingredient", new_ingredient_path, :class => "nav-item nav-link" %> <span class="slashes">//</span>
            <%= link_to "Edit Profile", edit_user_path(current_user), :class => "nav-item nav-link" %>
          </div>
        </div> <!-- end .col-md-8 -->
        <div id="content" class="col-md-1"></div>
      </div> <!-- end .container-fluid -->
    <% end %>

    <%= yield %>

    <% if logged_in %>
      <div class="container-fluid">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <div id="footer">
            <div class="divider"></div>
            { made with love }
          </div>
        </div>
        <div class="col-md-1"></div>
      </div>
    <% end %>

  </body>
</html>
